@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  min-width: 100dvh;
  min-height: 100dvh;
  place-items: center;

  @include res(phone) {
    place-items: stretch;
  }
}

::selection {
}
